        body {
            background-image: url("https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif");
        }
        
        #help {
            font-size: 30px;
        }
        
        #button {
            font-size: 20px;
        }