body{
    background-image: url("https://i.pinimg.com/originals/a1/b5/b9/a1b5b926bbabda983979b0919e172a8b.png");
  }
  
  canvas {
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    margin: auto;
    position :fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast
  }

